<link href="https://fonts.googleapis.com/css?family=Pacifico|Yeon+Sung&display=swap" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css?family=Bangers|Lobster|Oswald&display=swap" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<div class="container-fluid" id="head">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1><i class="fab fa-github"></i><strong>Github</strong></h1>
  <form action="" class="form">
    <div class="form-group">
      <input type="text" placeholder="Search or jump to...."class="form-control" [(ngModel)]="username"
        name="username" (keyup)="findProfile()">     
    </div>
  </form><br><br>
  <a href="#"><li>Pulls</li></a>
  <a href="#"><li>Issues</li></a>
  <a href="#"><li>Marketplace</li></a>
  <a href="#"><li>Explore</li></a> 
  <div class="icons">
    <i class="fas fa-bell"></i>
    <i class="fas fa-plus"></i><i class="fas fa-caret-down"></i> 
 </div>
    <img class="img-1" src="{{profile.avatar_url}}">
 </nav>
 