.img{
    border-radius: 1000px;
    height:200px;
}
.prof{
    position: relative;
    float: left;
    width: 36vw;
    padding-top:2%;
    height: 70vh;
    margin-left: 5%;
}
.buton{
    display: flex;
}
input{
    width: 75%;
    margin-left: 25%;

}
nav{
    color: white;
    padding: 10px;
}
.navbar a li{
 list-style: none;
 margin: 11px;
}
.navbar a{
    text-decoration: none;
}
.navbar a :hover{
    border: 2px rgb(26, 71, 138);
    background-color: rgb(227, 235, 121) ;
    transition-duration: 2s;
    border-radius: 25px;
}
nav .img{
    height:35px;
}
.img-1{
    position: relative;
    left: 87vh;
    border-radius: 1000px;
    height:35px;
} 
 .icons{
    position: relative;
    left: 83vh;
   display: inline-flex;
   justify-content: space-between;
}